@import url("https://fonts.googleapis.com/css2?family=Neuton&family=Roboto&display=swap");
/*region General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body {
  overflow-x: hidden;
}

html {
  font: normal 16px sans-serif;
  color: #555;
  scroll-behavior: smooth;
}

ul,
nav {
  list-style: none;
}
h1 {
  font: normal 50px "Open Sans", sans-serif;
  font-family: "Neuton", serif;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
  cursor: pointer;
  color: rgb(218, 218, 218);
}

a.btn {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  font-weight: 800;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 12px;
}

/*Header*/
.navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 15px 80px 0;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  padding: 1.5rem;
  display: block;
}

/* Toggle */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* /.Toggle */

/* /.Header */

/*Hero section*/

.hero {
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-align: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/main.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}

.hero-content {
  position: relative;
}

.hero a.btn {
  padding: 10px 30px;
}

.hero h1 {
  font-family: "Neuton", serif;
  margin-bottom: 20px;
}

.hero h3 {
  font: normal 20px "Open Sans", sans-serif;
  font-family: "Roboto", serif;
  margin-bottom: 40px;
}

.hero .appstores {
  margin-top: 30px;
}
/* /.Hero section*/

/* Knowledge Hub*/

.knowledge_hub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.knowledge_hub .knowledge_hub-text {
  width: 60%;
  height: 100%;
  line-height: 30px;
}

.knowledge_hub-text h3 {
  font: normal 20px "Open Sans", sans-serif;
  font-family: "Roboto", serif;
  font-weight: 100;
  margin-bottom: 40px;
  margin-right: 250px;
  line-height: 30px;
}

.knowledge_hub .knowledge_hub-img img {
  width: 407px;
  height: 338px;
}

/* /.Knowledge Hub*/

/* Education*/

.education {
  background-color: #d6d6d6;
}

.education h1,
.education h3 {
  text-align: center;
}

.education h1 {
  font-family: "Neuton", serif;
}

.education h3 {
  font: normal 20px "Open Sans", sans-serif;
  font-family: "Roboto", serif;
  margin-bottom: 40px;
  margin-left: 334px;
  margin-right: 329px;
  line-height: 30px;
}

.education a.btn {
  padding: 10px 30px;
  margin-bottom: 20px;
}

.education img {
  width: 298px;
  height: 169px;
}
/* /. Education*/

/* Visitantes*/
.visitantes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.visitantes h1 {
  margin-bottom: 20px;
}

.visitantes h3 {
  font: normal 20px "Open Sans", sans-serif;
  font-family: "Roboto", serif;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 30px;
}
.visitantes .visitantes-text {
  width: 50%;
  height: 100%;
  text-align: center;
}

.visitantes a.btn {
  color: #fff;
  background-color: black;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.visitantes img {
  width: 407px;
  height: 338px;
}
/* /. Visitantes*/

/* Asesorias*/
.asesorias {
  background-color: #d6d6d6;
  flex-direction: row;
  justify-content: space-evenly;
}
.asesorias h1 {
  text-align: center;
}
.asesorias h3 {
  font: normal 20px "Open Sans", sans-serif;
  font-family: "Roboto", serif;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 30px;
}
.asesorias .asesorias-text {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  height: 100%;
  text-align: center;
}

.asesorias form {
  width: 30%;
}
.asesorias .form-container {
  display: grid;
  width: 100%;
  grid-gap: 10px;
}

.asesorias input {
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid #bbb0b0;
}
/* /.Asesorias*/

/* Planes*/
.planes .container-planes {
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.planes h2 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  line-height: 30px;
}

.planes .container-heading {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.planes .container-price {
  font-weight: normal;
  text-align: center;
}

.container-planes .container-business,
.container-free,
.container-business_plus {
  border: 3px solid #bbb0b0;
}

.planes ul {
  padding-left: 1rem;
  margin-bottom: 40px;
  line-height: 30px;
  list-style-type: circle;
}
.planes .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  padding: 10px 70px;
  width: 20%;
}

.planes .btn-free {
  position: relative;
  margin-top: -5px;
}

.planes .btn-business {
  position: relative;
  margin-top: 118px;
}

.planes .btn-business-plus {
  position: relative;
  margin-top: 10px;
}

/* /. Planes*/

/* Footer*/
.footer {
  background-color: #d6d6d6;
}

.footer h2 {
  font: bold 25px "Roboto", sans-serif;
  margin-bottom: 20px;
  color: #252b42;
}

.footer h3 {
  font: lighter 19px "Roboto", sans-serif;
  font-weight: 100;
}

.footer .footer-text {
  width: 50%;
  line-height: 30px;
  margin: 20px 20px;
  text-align: center;
}
.footer .footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer i {
  margin: 30px 50px;
}

/* /. Footer*/

/*End section*/

.container-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 2px;
}

.container-end h3 {
  font: normal 16px "Roboto", sans-serif;
  margin-left: 50px;
}

/* /. End section*/

/*Media queries*/

/*Toggle Button*/

@media (max-width: 760px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    padding: 0;
    background-color: rgb(94, 94, 94);
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 2rem 1rem;
  }

  .navbar-links li:hover {
    background-color: rgb(151, 151, 151);
  }

  .navbar-links.active {
    display: flex;
  }
}

@media (max-width: 992px) {
  .knowledge_hub .knowledge_hub-img img {
    width: 271px;
    height: 222px;
  }
  .knowledge_hub-text h3 {
    font: normal 20px "Open Sans", sans-serif;
    font-family: "Roboto", serif;
    font-weight: 100;
    margin-bottom: 40px;
    margin-right: 40px;
    line-height: 30px;
  }
  .education h3 {
    font: normal 20px "Open Sans", sans-serif;
    font-family: "Roboto", serif;
    margin-bottom: 40px;
    margin-left: 134px;
    margin-right: 129px;
    line-height: 30px;
  }
  .visitantes img {
    width: 257px;
    height: 238px;
  }
  .asesorias {
    background-color: #d6d6d6;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* /. Media queries*/
