/*region General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font: normal 16px sans-serif;
  color: #555;
  scroll-behavior: smooth;
}

ul,
nav {
  list-style: none;
}
h1 {
  font: bold 50px "Open Sans", sans-serif;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
  cursor: pointer;
}

a.btn {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  font-weight: 800;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
}

/*Header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}
header h2 {
  font-family: "Quicksand", sans-serif;
}

header h2 img {
  max-width: 80px;
  padding-right: 5px;
  vertical-align: middle;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

/* /.Header */

/*Hero section*/

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.hero .hero-img {
  position: absolute;
  background-image: url(images/main.jpeg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .hero-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414a4f;
  opacity: 0.75;
}

.hero a.btn {
  padding: 10px 30px;
}

.hero h1 {
  font: bold 50px "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.hero h3 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
}

.hero .appstores {
  margin-top: 30px;
}
/* /.Hero section*/

/* Knowledge Hub*/

.knowledge_hub {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.knowledge_hub .knowledge_hub-text {
  width: 60%;
  height: 100%;
  line-height: 30px;
}

.knowledge_hub-text h3 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  margin-right: 250px;
  line-height: 30px;
}

.knowledge_hub .knowledge_hub-img img {
  width: 407px;
  height: 338px;
}

/* /.Knowledge Hub*/

/* Education*/

.education {
  background-color: #d6d6d6;
}

.education h1,
.education h3 {
  text-align: center;
}
.education h3 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  margin-left: 334px;
  margin-right: 329px;
  line-height: 30px;
}

.education a.btn {
  padding: 10px 30px;
  margin-bottom: 20px;
}

.education img {
  width: 407px;
  height: 338px;
}
/* /. Education*/

/* Visitantes*/
.visitantes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.visitantes h1 {
  margin-bottom: 20px;
}

.visitantes h3 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 30px;
}
.visitantes .visitantes-text {
  width: 50%;
  height: 100%;
  text-align: center;
}

.visitantes a.btn {
  color: #fff;
  background-color: black;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.visitantes img {
  width: 407px;
  height: 338px;
}
/* /. Visitantes*/

/* Asesorias*/
.asesorias {
  background-color: #d6d6d6;
  flex-direction: row;
  justify-content: space-evenly;
}
.asesorias h1 {
  text-align: center;
}
.asesorias h3 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 30px;
}
.asesorias .asesorias-text {
  width: 50%;
  height: 100%;
  text-align: center;
}

.asesorias form {
  width: 30%;
}
.asesorias .form-container {
  display: grid;
  width: 100%;
  grid-gap: 10px;
}

.asesorias input {
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid #bbb0b0;
}
/* /.Asesorias*/

/* Planes*/
.planes .container-planes {
  display: grid;
  grid-gap: 10px;
}

.planes h2 {
  font: normal 16px "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  line-height: 30px;
}

.planes .container-heading {
  margin-top: 20px;
  text-align: center;
}

.container-planes .container-business,
.container-free,
.container-business_plus {
  border: 1px solid #bbb0b0;
  height: 400px;
}

.planes ul {
  margin-bottom: 40px;
  line-height: 30px;
}
.planes .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  padding: 10px 30px;
  width: 20%;
}

/* /. Planes*/

/* Footer*/

/* /. Footer*/
